<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            width: 800px;
            margin: 0 auto;
            text-align: center;
        }

        textarea {
            width: 95%;
            height: 100px;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="text"] {
            width: 95%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        select {
            margin-bottom:20px;
            margin-top:50px;
        }
    </style>
</head>

<body>
    <div class="form-container">
        <h2>Question answering</h2>
        <form method="post">
            {% csrf_token %}
            <textarea name="context" placeholder="Enter the context here" >{{ context_val }}</textarea>
            <br>
            <input type="text" name="question" placeholder="Enter the question here" value="{{ question_val }}">
            <br>
            <select name="hfmod">
                {% for choice in form.hfmod.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == hfmod_val %} selected {% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select>

            <button type="submit">Submit</button>
            <div id="response">{% if response %}{{ response }}{% endif %}</div>
        </form>
    </div>
</body>

</html>

